@charset "utf-8";

/*!===========================
このcssはSassから生成されていますので、
直接編集しないようご注意ください。
===========================*/

@media (max-width: 767px) {
html {
	font-size: #{62.5 * 0.5 * 1%};
}
/* class
============================== */
.pc {
	display: none;
}
.sp {
	display: block;
}
img.sp,
span.sp {
	display: inline;
}
table.sp {
	display: table;
}
%clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.alignleft,
.alignright {
	float: none;
	max-width: 100% !important;
	margin-bottom: 0;
}
.alignleft {
	margin-right: 0;
}
.alignright {
	margin-left: 0;
}
.col:not(table) {
	display: block;
	> * {
		width: auto !important;
		margin-left: 0 !important;
		&:nth-child(n+2) {
			margin-top: 20px !important;
		}
	}
	> table {
		width: 100% !important;
	}
}
.scroll {
	overflow-x: auto;
	&::-webkit-scrollbar {
		height: 5px;
	}
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
	}
	&::-webkit-scrollbar-track {
		background: #CCCCCC;
	}
	&::-webkit-scrollbar-thumb {
		background: #666666;
	}
	table {
		white-space: nowrap;
	}
}
/* form
============================== */
%form {
	[type="text"],
	[type="number"],
	[type="search"],
	[type="email"],
	[type="tel"],
	[type="url"],
	[type="password"],
	[type="date"],
	[type="datetime-local"],
	[type="month"],
	[type="week"],
	[type="time"],
	textarea,
	select {
		font-size: 1.6rem;
	}
}
.form {
	@extend %form;
	.form-table {
		display: block;
		dt,
		dd {
			width: auto;
			padding-left: 0;
			padding-right: 0;
		}
		dt {
			font-weight: bold;
		}
		dd {
			padding-top: 0;
			border: 0;
		}
	}
}
/* ==================================================
header
================================================== */
#hlogo {
	width: 100%;
	max-width: 300px;
	margin: 0;
}
/* ==================================================
footer
================================================== */
footer {
	margin-bottom: calc(80 / 22 * 1em + 2.4rem);
  font-size: 1.3em;
  > div {
    flex-wrap: wrap;
  }
  address {
    margin: 0 0 1.0em 0;
    text-align: center;
    width: 100%;
  }
  .privacy {
    margin: 0;
  }
}
#fsns {
	margin-left: 10px;
	li {
		width: 25px;
		margin-left: 10px;
	}
}
/* ==================================================
main
================================================== */
%h2 {
	font-size: 4.8rem;
}
/* top
============================== */
#top-kv {
	margin-bottom: -10%;
	background-image: url("../img/top-kv-bg01-sp.png");
	background-size: 100%;
	> * {
		max-width: 90%;
	}
}
#content .top-pr {
	> * {
		max-width: none;
	}
}
#top-sec01 {
	h2 {
		@extend %h2;
	}
	.lead {
		font-size: 4rem;
	}
	ul {
		li {
			width: 46%;
			margin-left: 8%;
			&:nth-child(2n+1) {
				margin-left: 0;
			}
		}
	}
}
#top-sec02 {
	h2 {
		@extend %h2;
	}
	.box {
		padding-left: 20px;
		padding-right: 20px;
	}
}
#top-sec02-01 {
	> div {
		padding-left: 20px;
		padding-right: 20px;
	}
}
#top-sec02-04 {
	padding-left: 35px;
	padding-right: 35px;
	> figure {
		position: static;
		margin-top: 20px;
	}
}
#top-sec02-05 {
	padding-left: 35px;
	padding-right: 35px;
}
#top-sec02-06 {
	padding-left: 35px;
	padding-right: 35px;
	p:last-of-type {
		max-width: 250px;
		margin-top: 20px;
		padding-left: 70px;
	}
	.img {
		img {
			bottom: -70px;
			right: calc(50% + 60px);
			width: 100px;
		}
	}
	> figure {
		top: 200px;
		left: 83%;
		max-width: 15%;
	}
}
#top-sec02-area-01 {
	.box {
		margin-right: auto;
	}
}
#top-sec02-area-02 {
	.box {
		margin-left: auto;
	}
}
#top-sec02-area-03 {
	.box {
		margin-right: auto;
	}
}
#top-sec03 {
	h2 {
		@extend %h2;
	}
	ul {
		li {
			padding: 20px;
      div {
        justify-content: center;
        flex-wrap: wrap;
      }
			.sub02 {
				width: 100%;
				margin: 0 0 20px;
				padding: 0 0 20px;
				&::after {
					top: auto;
					bottom: 0;
					right: -20px;
					width: calc(100% + 40px);
					height: 0;
					border-bottom: 1px solid #74706E;
					border-right: 0;
				}
			}
			.price {
				width: 100%;
				text-align: center;
				margin: 20px 0 0;
			}
      .mutual-wrap {
        .mutual-title {
          font-size: 4.0rem;
          .large {
            font-size: 130%;
          }
        }
        .mutual-logo {
          width: 80%;
        }
      }
		}
	}
}
#top-sec05 {
	h2 {
		@extend %h2;
	}
  ul {
    li {
      &::before {
        width: 40px;
      }
    }
  }
	dl {
		dt,
		dd {
			padding-left: 65px;
			&::before {
				width: 40px;
			}
		}
	}
}
#top-access {
	h2 {
		@extend %h2;
	}
	.col {
		text-align: center;
		> * {
			&:first-child {
				img {
					width: 250px;
				}
			}
		}
	}
}
#top-info {
	h2 {
		@extend %h2;
	}
}
#info-list {
	li {
		display: block;
		padding: 1em 3em 1em 1em;
		font-size: 2.5rem;

		time {
			display: block;
			width: 100%;
		}
		span {
			display: block;
			margin-top: 0.5em;

			a {
				&::after {
					width: 8px;
					height: 14px;
					right: 1em;
				}
			}
		}
	}
}
#info-btn {
	max-width: 200px;
	margin-top: 30px;
}
#info-pager {
	font-size: 2.5rem;
	margin-top: 30px;
}
#info-detail-sec01 {
	.info-detail-area {
		margin-top: 20px;
		font-size: 2.5rem;
		img {
			&.alignleft,
			&.alignright {
				width: 100%;
				margin-left: 0;
			}
		}
	}
}
}
